    <!-- //last-content -->
    <!-- banner-bottom -->
    <section class="events py-5">
      <div class="container py-md-5">
          <h3 class="title-w3pvt text-center">Our Classes</h3>

          <div class="row ab-info second mt-lg-4 text-center">
              <div class="col-lg-4 ab-content">
                  <div class="ab-content-inner">
                      <div class="w3layouts-icon mx-auto">
                          <span class="fa fa-object-ungroup" aria-hidden="true"></span>
                      </div>
                      <div class="ab-info-con">
                          <h4>Meditation</h4>
                          <p>Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.</p>
                          <a href="single.html" class="read-more two btn m-0 px-3"><span class="fa fa-long-arrow-right"> </span></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 ab-content">
                  <div class="ab-content-inner">
                      <div class="w3layouts-icon mx-auto">
                          <span class="fa fa-xing" aria-hidden="true"></span>
                      </div>
                      <div class="ab-info-con">
                          <h4>Yoga Lite</h4>
                          <p>Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.</p>
                          <a href="single.html" class="read-more two btn m-0 px-3"><span class="fa fa-long-arrow-right"> </span></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 ab-content">
                  <div class="ab-content-inner">
                      <div class="w3layouts-icon mx-auto">
                          <span class="fa fa-handshake-o" aria-hidden="true"></span>
                      </div>
                      <div class="ab-info-con">
                          <h4>Pilates</h4>
                          <p>Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.</p>
                          <a href="single.html" class="read-more two btn m-0 px-3"><span class="fa fa-long-arrow-right"> </span></a>
                      </div>
                  </div>
              </div>

          </div>

      </div>
  </section>
  <!-- //banner-bottom -->
  <!-- /team-content -->
  <section class="services py-5" id="team">
      <div class="container py-md-5">
          <h3 class="title-w3pvt text-center mb-5">Our Trainers</h3>
          <div class="row team-grids text-left mt-md-5 mt-4">
              <div class="col-lg-4 team-main">

                  <div class="team-img"><img src="images/t1.jpg" alt="news image" class="img-fluid"> </div>
                  <div class="team-info">

                      <h4>Anna Strong</h4>
                      <small>Feb 03.2019</small>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore magna.</p>

                  </div>


              </div>

              <div class="col-lg-4 team-main">
                  <div class="team-info">

                      <h4>
                          Ben Smith
                      </h4>
                      <small>Feb 06.2019</small>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore magna.</p>

                  </div>

                  <div class="team-img"><img src="images/t2.jpg" alt="news image" class="img-fluid"> </div>


              </div>

              <div class="col-lg-4 team-main">

                  <div class="team-img"><img src="images/t3.jpg" alt="news image" class="img-fluid"> </div>
                  <div class="team-info">

                      <h4>Alen Winter</h4>
                      <small>Trainer</small>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore magna.</p>

                  </div>


              </div>

          </div>

      </div>
  </section>
  <!-- //team-content -->
 
