<!-- banner-bottom -->
<section class="events py-5">
  <div class="container py-md-5">
      <h3 class="title-w3pvt text-center">News & Events</h3>
      <div class="row mid-grids mt-5">
          <div class="col-md-5 content-w3pvt-img">
              <a href="single.html"><img src="images/n1.jpg" alt="news image" class="img-fluid"></a>
          </div>
          <div class="col-md-7 content-left-bottom entry-w3layouts-info text-left mt-3">
              <h5 class="mt-1"><a href="single.html">1.Integer pulvinar leo</a></h5>
              <small>Feb 06.2019</small>
              <p class="mt-2 text-left">Integer pulvinar leo id viverra feugiat.<span class="text-capitalize font-w3layouts"> Pellentesque libero justo, semper at tempus vel, ultrices in sed ligula. Nulla uter sollicitudin velit.</span> Sed porttitor orci vel fermentum elit maximus. Curabitur ut turpis massa in condimentum libero. Pellentesque maximus Pellentesque libero..</p>

          </div>

      </div>
      <div class="row mid-grids my-lg-5 py-lg-5">

          <div class="col-md-7 content-left-bottom entry-w3layouts-info text-left mt-3">
              <h5 class="mt-1"><a href="single.html">2.Integer pulvinar leo</a></h5>
              <small>Feb 06.2019</small>
              <p class="mt-2 text-left">Integer pulvinar leo id viverra feugiat.<span class="text-capitalize font-w3layouts"> Pellentesque libero justo, semper at tempus vel, ultrices in sed ligula. Nulla uter sollicitudin velit.</span> Sed porttitor orci vel fermentum elit maximus. Curabitur ut turpis massa in condimentum libero. Pellentesque maximus Pellentesque libero..</p>
          </div>
          <div class="col-md-5 content-w3pvt-img">
              <a href="single.html"><img src="images/n2.jpg" alt="news image" class="img-fluid"></a>
          </div>

      </div>
      <div class="row mid-grids">
          <div class="col-md-5 content-w3pvt-img">
              <a href="single.html"><img src="images/n3.jpg" alt="news image" class="img-fluid"></a>
          </div>
          <div class="col-md-7 content-left-bottom entry-w3layouts-info text-left mt-3">
              <h5 class="mt-1"><a href="single.html">3.Integer pulvinar leo</a></h5>
              <small>Feb 06.2019</small>
              <p class="mt-2 text-left">Integer pulvinar leo id viverra feugiat.<span class="text-capitalize font-w3layouts"> Pellentesque libero justo, semper at tempus vel, ultrices in sed ligula. Nulla uter sollicitudin velit.</span> Sed porttitor orci vel fermentum elit maximus. Curabitur ut turpis massa in condimentum libero. Pellentesque maximus Pellentesque libero..</p>

          </div>

      </div>

  </div>
</section>
<!-- //banner-bottom -->
