<!-- banner-bottom -->
<section class="contact-main py-5">
  <div class="container py-md-5">
      <h3 class="title-w3pvt text-center">Signin Now</h3>

      <div class="login px-sm-4 mx-auto mw-100 login-wrapper">
          <form [formGroup]="formLogin" class="login-wrapper w3pvt_mail_grid_right" (ngSubmit)="onLogin()">

              <div class="form-group">
                  <label class="mb-2">Email Address</label>
                  <input type="email" formControlName="email" class="form-control" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label class="mb-2">Password</label>
                  <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
                </div>
              <button type="submit" class="btn btn-primary submit mt-2 read-more" >Sign In</button>
              <p class="text-center mt-4">
                  <a href="/register"> Don't have an Account?</a>
              </p>
          </form>
      </div>

  </div>
</section>
<!-- //banner-bottom -->
