<!-- banner-bottom -->
<section class="events py-5">
  <div class="container py-md-5">
      <h3 class="title-w3pvt text-center">Our Classes</h3>

      <div class="row ab-info second mt-lg-4 text-center">
          <div class="col-lg-4 ab-content">
              <div class="ab-content-inner">
                  <div class="w3layouts-icon mx-auto">
                      <span class="fa fa-object-ungroup" aria-hidden="true"></span>
                  </div>
                  <div class="ab-info-con">
                      <h4>Meditation</h4>
                      <p>Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.</p>
                      <a href="single.html" class="read-more two btn m-0 px-3"><span class="fa fa-long-arrow-right"> </span></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 ab-content">
              <div class="ab-content-inner">
                  <div class="w3layouts-icon mx-auto">
                      <span class="fa fa-xing" aria-hidden="true"></span>
                  </div>
                  <div class="ab-info-con">
                      <h4>Yoga Lite</h4>
                      <p>Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.</p>
                      <a href="single.html" class="read-more two btn m-0 px-3"><span class="fa fa-long-arrow-right"> </span></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 ab-content">
              <div class="ab-content-inner">
                  <div class="w3layouts-icon mx-auto">
                      <span class="fa fa-handshake-o" aria-hidden="true"></span>
                  </div>
                  <div class="ab-info-con">
                      <h4>Pilates</h4>
                      <p>Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.</p>
                      <a href="single.html" class="read-more two btn m-0 px-3"><span class="fa fa-long-arrow-right"> </span></a>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
<!-- //banner-bottom -->
