    <!--// banner -->
    <!-- banner-bottom -->
    <section class="contact-main py-5">
      <div class="container py-md-5">
        <h3 class="title-w3pvt text-center">Signup Now</h3>

        <div class="login px-sm-4 mx-auto mw-100 login-wrapper">
          <form [formGroup]="registerForm" class="login-wrapper w3pvt_mail_grid_right" (ngSubmit)="onRegister()">
            <div class="form-group">
              <label>Email</label>
              <input class="form-control" type="text" formControlName="email" name="email" />
            </div>

            <div class="form-group">
              <label>Password</label>
              <input type="password" formControlName="password" class="form-control" name="password">
            </div>

            <div class="form-group">
              <label class="mb-2">Password repeat</label>
              <input type="password" formControlName="repeatPassword" class="form-control" id="exampleInputPassword1"
                placeholder="" required="">
            </div>
            <button type="submit" class="btn btn-primary submit mt-2 read-more">Sign Up</button>
            <p class="text-center mt-4">
              <a href="#">By clicking Signup, I agree to your terms</a>
            </p>
          </form>
        </div>
      </div>
    </section>
    <!-- //banner-bottom -->
